html,
body {
	font-family: 'DIN Pro Regular', Arial, Tahoma, sans-serif;
	font-weight: normal;
    font-style: normal;
    font-size: @main-text;
    overflow-x: hidden;
}

.block {
	background-color: #FFDB4C;
	padding: 20px;
	color: #000;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.container-fluid {
	padding: 0;
}

.container {
	max-width: 1580px;
	margin: auto;

	// background-color: grey;
}