.dinregular(@font-family: 'DIN Pro Regular', @font-weight: normal, @font-style: normal) {
	font-family: @font-family;
	font-weight: @font-weight;
    font-style: @font-style;
}

.dinbold(@font-family: 'DIN Pro Bold', @font-weight: bold, @font-style: normal) {
	font-family: @font-family;
	font-weight: @font-weight;
    font-style: @font-style;
}